@page "/"
@layout MainLayout

@inject NavigationManager NavigationManager
@inject GameState GameState
@inject SaveService SaveService

@inject LoadService LoadService

<PageTitle>Welcome to SpaceBattles</PageTitle>

<div class=@(_showCreationScreen? "d-none" : "")>
    <MudStack AlignItems="AlignItems.Center">
        <MudImage Fluid Src="images/logo.avif" Alt="SpaceBattles logo" />

        <MudButton OnClick="StartGame" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Material.Filled.VideogameAsset">Play</MudButton>
    </MudStack>
</div>

<div class=@(_showCreationScreen? "" : "d-none")>
    <UniverseCreationWaiter @ref="_universeCreationWaiter"/>
</div>

@code {
    private UniverseCreationWaiter? _universeCreationWaiter;

    private bool _showCreationScreen;

    protected override async Task OnInitializedAsync()
    {
        await LoadService.GetImages();
    }

    private async Task StartGame()
    {
        _showCreationScreen = true;
        Task waitingScreen = _universeCreationWaiter!.ShowWaitingScreen();

        if (!await SaveService.LoadFromStorage())
        {
            GameState.Initialize(new UniverseCreationModel());
        }

        await waitingScreen;

        NavigationManager.NavigateTo("/Overview");
    }
}