@layout MainLayout
@page "/UniverseCreator"
@using SpaceBattles.Core.Application.Services
@using SpaceBattles.Core.Domain.Models

<div class=@(_showCreationScreen? "d-none" : "")>
    <MudContainer MaxWidth="MaxWidth.ExtraSmall">
        <MudPaper Class="pa-4 rounded-xl">
            <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator/>
                <MudStack>         
                    
                    <MudText Color="Color.Info" Align="Align.Center" Typo="Typo.h6" Style="font-family:TitleFont;">New game settings</MudText>

                    <MudTextField Class="pb-4" Label="Save name" @bind-Value="_model.UniverseName" Required For="@(() => _model.UniverseName)" Immediate />

                    <!--
                    <MudSlider Class="pb-4" @bind-Value="_model.UniverseSpeed" Color="Color.Info" Variant="Variant.Filled" TickMarks Min="1" Max="10" Step="1" ValueLabel >Universe speed</MudSlider>
                    -->
                    
                    <MudSlider Color="Color.Info" @bind-Value="_model.NumberOfPlanets" ValueLabel Min="1" Max="10" Step="1" TickMarks>Number of planets</MudSlider>

                    <MudSwitch Color="Color.Info" @bind-Value="_model.IsPeacefulMode" Label="Peaceful mode" Class="py-4"/>

                    <MudButton ButtonType="ButtonType.Submit" Class="align-self-center" Variant="Variant.Filled" Color="Color.Info">Start new game</MudButton>

                </MudStack>

            </EditForm>
        </MudPaper>
    </MudContainer>
</div>

<div class=@(_showCreationScreen? "" : "d-none")>
    <UniverseCreationWaiter @ref="_universeCreationWaiter"/>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; init; } = default!;

    [Inject]
    private GameState GameState { get; init; } = default!;
    
    [Inject]
    private BotService BotService { get; init; } = default!;

    private UniverseCreationModel _model = new();

    private UniverseCreationWaiter? _universeCreationWaiter;

    private bool _showCreationScreen;

    private async Task OnValidSubmit()
    {
        _showCreationScreen = true;
        Task waitingScreen = _universeCreationWaiter!.ShowWaitingScreen();
        
        GameState.Initialize(_model);
        BotService.StartService();

        await waitingScreen;

        NavigationManager.NavigateTo("/Overview");
    }
}