@using Microsoft.JSInterop
@using SpaceBattles.Core.Domain.Models
@using SpaceBattles.UI.Layouts

@page "/"

@layout MainLayout

@inject NavigationManager NavigationManager
@inject GameState GameState
@inject SaveService SaveService
@inject IBrowserService BrowserService

<PageTitle>Welcome to SpaceBattles</PageTitle>

<div class=@(_showCreationScreen? "d-none" : string.Empty)>
    <MudStack AlignItems="AlignItems.Center">
        <MudImage Fluid Src="images/logo.avif" Alt="SpaceBattles logo" />
        
        <MudButton OnClick="@StartGame" Variant="Variant.Filled" Color="Color.Info" Size="Size.Large">
            <MudText Typo="Typo.h5" Style="font-family:TitleFont;">Play</MudText>
        </MudButton>
    </MudStack>
</div>

<div class=@(_showCreationScreen? string.Empty : "d-none")>
    <UniverseCreationWaiter @ref="@_universeCreationWaiter"/>
</div>

@code {
    private UniverseCreationWaiter _universeCreationWaiter = default!;

    private bool _showCreationScreen;

    private Task<string?> CheckSaveDataTask = Task.FromResult<string?>(null);

    protected override void OnInitialized()
    {
        CheckSaveDataTask = BrowserService.ReadLocalStorage("SaveData");
    }

    private async Task StartGame()
    {
        string? saveData = await CheckSaveDataTask;
        if (saveData is not null)
        {
            bool success = SaveService.LoadFromStorage(saveData);
        }

        _showCreationScreen = true;
        Task waitingScreen = _universeCreationWaiter.ShowWaitingScreen();

        if (!SaveService.LoadFromStorage())
        {
            GameState.Initialize(new UniverseCreationModel());
        }

        await waitingScreen;

        NavigationManager.NavigateTo("/Overview");
    }
}