@using SpaceBattles.Core.Domain.Models
@using SpaceBattles.UI.Layouts

@page "/UniverseCreator"

@layout MainLayout

@inject NavigationManager NavigationManager
@inject GameState GameState
@inject BotService BotService
@inject SaveService SaveService

<div class=@(_showCreationScreen? "d-none" : "")>
    <MudContainer MaxWidth="MaxWidth.ExtraSmall">
        <MudPaper Class="pa-4 rounded-xl">
            <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator/>
                <MudStack>
                    
                    <MudText Color="Color.Info" Align="Align.Center" Typo="Typo.h6" Style="font-family:TitleFont;">New game settings</MudText>

                    <MudTextField Class="pb-4 " Label="Commander name" @bind-Value="_model.CommanderName" Required For="@(() => _model.CommanderName)" Immediate />

                    <!--
                    <MudSlider Class="pb-4" @bind-Value="_model.UniverseSpeed" Color="Color.Info" Variant="Variant.Filled" TickMarks Min="1" Max="10" Step="1" ValueLabel >Universe speed</MudSlider>
                    -->
                    
                    <MudSwitch Color="Color.Info" @bind-Value="_model.IsPeacefulMode" Label="Peaceful mode" Class="pb-4"/>
                    
                    <MudSwitch Disabled Color="Color.Info" @bind-Value="_model.IncludeBots" Label="Include bots" Class="pb-4"/>

                    <MudButton ButtonType="ButtonType.Submit" Class="align-self-center" Variant="Variant.Filled" Color="Color.Info">Start new game</MudButton>

                </MudStack>

            </EditForm>
        </MudPaper>
    </MudContainer>
</div>

<div class=@(_showCreationScreen? "" : "d-none")>
    <UniverseCreationWaiter @ref="_universeCreationWaiter"/>
</div>

@code {
    private UniverseCreationModel _model = new();

    private UniverseCreationWaiter? _universeCreationWaiter;

    private bool _showCreationScreen;

    private async Task OnValidSubmit()
    {
        _showCreationScreen = true;
        Task waitingScreen = _universeCreationWaiter!.ShowWaitingScreen();
        
        if (!SaveService.LoadFromStorage())
        {
            GameState.Initialize(new UniverseCreationModel());
        }
        
        BotService.StartService();
        
        await waitingScreen;

        NavigationManager.NavigateTo("/Overview");
    }
}